h3 {
    margin-top: 3rem;
    margin-left: 3rem;
    font-weight: 600;
    color: #fafafa;;
}

form {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.form-control::-webkit-input-placeholder {
    color: #BEBEBE;
    opacity: 0.7;
  }

.contact {
    background-color: #8c797f;
    padding-bottom: 3rem;
    border-radius: 8px;
}

#message {
    padding-bottom: 8rem;
    padding-top: 1rem;
}

.form-control:focus {
    border-color: #fafafa;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(94, 65, 79, 0.25);
}

label {
    color:#fafafa;
}

.btn-primary {
    margin-top: 2rem;
    background-color: #8c797f;
    color: #fafafa;
    border: none;
}

.btn:hover {
    background-color: #fafafa;
    color: #8c797f;
}

.more {
    margin-bottom: 8rem;
    margin-left: 3rem;
}