body {
    background-color: #fafafa;
}

.navbar {
    margin-bottom: 10rem;
}

#portfolio {
    /* padding-top: 3rem; */
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #fafafa;
    text-align: center;
}

.thumbnail {
    width: 80%;
    margin-bottom: 30px;
    border-radius: 5px;
}

h4 {
    /* writing-mode: vertical-lr;
    text-orientation: sideways-right;
    letter-spacing: 0.10rem; */
    text-align: left;
    color: #8c797f;
}


.thumbnail {
    width: 80%;
    margin-bottom: 30px;
}

.caption {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3rem;
    color: #8c797f;
}

.preview {
    text-align: center;
    margin-top: 3rem;
}
