body {
    font-family: 'Source Sans Pro', sans-serif;
    /* background-color: #efe7e4; */
    background-color: #fbfbfd;
}

.navbar {
    background-color:transparent;
    color: #8c797f;
    /* padding-left: 40px;
    padding-right: 40px; */
    padding-top: 2rem;
    margin-bottom: 5rem;
}

.right {
    float: right;
}

a {
    padding-left: 8px;
    padding-right: 8px;
    color: #8c797f;
}

a:hover {
    text-decoration: none;
    color: #8c797f;
    font-size: 18px;
    cursor: pointer;
}

.preview {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#intro {
    position: relative;
    top: 50px;
    text-align: center;
    /* color:#8c797f; */
    color: 	#ff6969;
}


footer {
    /* background-color: #8c797f; */
    color: #8c797f;
    text-align: center;
    padding-top: 15rem;
}